
fastapi
uvicorn
langchain
langchain-community
langchain-google-genai
faiss-cpu
pypdf
python-dotenv
langchain-text-splitters
python-multipart
langchain-ollama
python-docx


# Runs models on your own PC, no API key.
# ollama pull llama3.1
# pip install langchain-ollama